<p id="notice"><%= notice %></p>

Search
<%= form_with url: "", method: :get, data: { turbo_frame: "post_all", turbo_action: "advance" } do |form| %>
     <%= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()" %>
<% end %>

<%= turbo_frame_tag "post_all" do %>
Sort by <%= sort_link_to "Title", :title, data: { turbo_action: "advance" } %> 
</br>
<div id="new_post">
</br>
Add post
  <%= render partial: "posts/form", locals: { post: Post.new } %>
</div>
</br>
<div id="posts">
  <%= render @posts %>
</div>
<%== pagy_nav(@pagy) %>
<% end %>
</br>

